<template>
  <div>
    <button @click="drawCards">Draw cards</button>
    <button @click="showBothCards">Show second card</button>
    <div v-if="showBoth === true" class="cards">
      <div v-for="(image, index) in cardsDealth" :key="index">
        <img class="image" :src="image.image">
      </div>
    </div>
    <div v-else class="cards">
      <img class="image" :src="this.image">
    </div>
    <button @click="hit">Hit</button>
    <p> Score: {{this.score}} </p>
  </div>
</template>

<script>
import {drawCardFromApi} from "@/fetchApi";

export default {
  name: "Cards",
  props: ['deck'],
  data() {
    return {
      deckId: '',
      cardsDealth: [],
      image: '',
      score: 0,
      showBoth: false
    }
  },
  methods: {
    drawCards(){
      drawCardFromApi(this.deck, 2).then(cards => {
        this.cardsDealth = cards.cards
        console.log(this.cardsDealth)
        this.image = this.cardsDealth[0].image
      })
    },
    calculateScore(){
      let scor = 0;
        for (let i = 0; i < this.cardsDealth.length; i++){
            if (this.cardsDealth[i].value > 0 && this.cardsDealth[i].value <= 9){
              scor += Number(this.cardsDealth[i].value)
            } else if (this.cardsDealth[i].value === 'ACE'){
              let val = prompt('Choose value 1 or 11 for your ace')
              scor += Number(val)
            } else {
              scor += 10
            }
        }
        this.score = scor
        return scor
    },
    showBothCards(){
      this.showBoth = true
      this.calculateScore()
    },
    hit(){
      drawCardFromApi(this.deck, 1).then(card => {
        this.cardsDealth.push(card.cards)
      })
      console.log(this.cardsDealth)
    }
  }
}
</script>

<style scoped>
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image{
  height: 10rem;
  width: auto;
}
</style>