<template>
  <div>
    <h1>HomeScreen</h1>
      <input type="text" v-model="name">
      <button @click="onStartClick">Start game</button>
  </div>
</template>

<script>
export default {
  name: "HomeScreen",
  data(){
    return{
      name: ''
    }
  },
  methods:{
    onStartClick(){
      this.$router.push(`/play/${this.name}`)
    }
  }
}
</script>

<style scoped>

</style>