<template>
  <div>
    <h1>MainSite</h1>
    <button @click="fetchDeck">Fetch deck</button>
    <p> {{this.deckId}} </p>
    <Dealer :deck="deckId"/>
    <Player :deck="deckId"/>
  </div>
</template>

<script>
import Dealer from "@/components/Dealer/Dealer";
import Player from "@/components/Player/Player";
import {fetchApi} from "@/fetchApi";
export default {
  name: "MainSite",
  components: {Player, Dealer},
  data(){
    return{
      deckId: ''
    }
  },
  methods: {
    fetchDeck(){
      fetchApi().then(cards => {
        this.deckId = cards.deck_id
      })
    },
  }
}
</script>

<style scoped>

</style>