<template>
  <div>
    <h1>Dealer</h1>
    <Cards :deck="deck"/>
  </div>
</template>

<script>

import Cards from "@/components/Cards/Cards";
export default {
  name: "Dealer",
  components: {Cards},
  props: ['deck']
}
</script>

<style scoped>

</style>