<template>
  <div>
    <h1>Player</h1>
    <Cards :deck="deck"/>
  </div>
</template>

<script>
import Cards from "@/components/Cards/Cards";
export default {
  name: "Player",

  components: {Cards},
  props: ['deck'],
}
</script>

<style scoped>

</style>